.options-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
}
.popup-menu {
  position:relative;
  top:-30px;
  left:60px;
  width: 500px;
  height: 500px;
  background-color: grey;
  border-radius:5px;
  border-width:5px;
}

.setting_img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.options-wrapper .options-popup{
    position:relative;
}
.option-chckbox-wrapper {
  text-align:center;
}
.options-instruc{
    text-align:center;
}
.option {
  display: inline-block;
  padding-right:50px;
  padding-left:50px;
}
